head {font-family: Verdana, Geneva, Tahoma, sans-serif
    color: whitesmoke}
body{
    background-color: rgb(135, 142, 222);
    color: whitesmoke
    ;
}
h1{text-align: center;
    background-color: darkgray;
    color: black
    }
h2{text-align:center ;
    background-color: rgb(255, 255, 255);
    color: black}
    